@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800;900&display=swap);

:root {
    --easyRose: #ff0180;
    --easyBlue: #033777;
    --easyGray: #595959;
    --background_color: #f5f5f7;
}

.fntw-800 {
    font-weight: 800;
}

.fntw-900 {
    font-weight: 900;
}

.fnt-size-22px {
    font-size: 22px;
}

.underline::before {
    content: "_";
    color: var(--easyRose);
}

div>p>span {
    color: var(--easyRose);
}

html,body,div,span,
applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,
blockquote,pre,a,
abbr,acronym,address,
big,cite,code,del,dfn,
em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body,
html {
    font-family: "Montserrat", sans-serif;
    background-color: var(--background_color);
    height: 100vh;
}

/*-------------------------------*/
/*           Sidebar            */
/*-------------------------------*/
.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background-color: transparent;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    /* background: #1a1a1a; */
    background: var(--background_color);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    /* padding-top: 70px; */
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/


/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.navbar {
    padding: 0;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
    -ms-transition: width .2s ease-in;
    transition: width .2s ease-in;

}

/* .sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
} */
.sidebar-nav li:nth-child(5n+1):before {
    background-color: var(--easyRose);
}

.sidebar-nav li:nth-child(5n+2):before {
    background-color: var(--easyRose);
}

.sidebar-nav li:nth-child(5n+3):before {
    background-color: var(--easyRose);
}

.sidebar-nav li:nth-child(5n+4):before {
    background-color: var(--easyRose);
}

.sidebar-nav li:nth-child(5n+5):before {
    background-color: var(--easyRose);
}

/* .sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

} */

.sidebar-nav li a {
    display: block;
    /* color: #ddd; */
    color: var(--easyRose);
    text-decoration: none;
    padding: 10px 15px 20px 30px;
    font-size: 18px;
    font-weight: 800;
}

.sidebar-nav .underline {
    font-size: 14px;
    color: var(--easyBlue);
    text-decoration: none;
    padding: 0 0 0 36px;

}

.sidebar-header {
    text-align: center;
    font-size: 20px;
    position: relative;
    width: 100%;
    display: inline-block;
}

.sidebar-brand {
    height: 65px;
    position: relative;
    background: var(--background_color);
    padding-top: 1em;
}

.sidebar-brand a {
    color: #ddd;
}

.sidebar-brand a:hover {
    color: #fff;
    text-decoration: none;
}

.dropdown-header {
    text-align: center;
    font-size: 1em;
    color: #ddd;
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    /* background-color: #222; */
    background-color: inherit;
    box-shadow: none;
}

.dropdown-menu.show {
    top: 0;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
    position: absolute;
    top: 20px;
    z-index: 999;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 15px;
    background: transparent;
    border: none;
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
    outline: none;
}

.hamburger.is-closed:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
    /* background-color: #1a1a1a; */
    background-color: var(--easyGray);
}

.hamburger.is-closed .hamb-top {
    top: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-closed .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
    top: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-bottom {
    bottom: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    background-color: #1a1a1a;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open .hamb-middle {
    display: none;
}

.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(250,250,250,.8); */
    background-color: rgba(0, 0, 0, 0.6);

    z-index: 10;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

/*-------------------------------*/
/*           Sidebar            */
/*-------------------------------*/


.header-container {
    display: inline-flex;
    box-shadow: 0px 34px 32px -8px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 0px 34px 32px -8px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 34px 32px -8px rgba(0, 0, 0, 0.17);
}

.header-container__sidebar {
    z-index: 2;
    height: 71px;
}

.header-container__logo {
    width: 100%;
    text-align: center;
    position: relative;
    background-color: white;
}

.menu-container {
    display: inline-flex;
    overflow: hidden;
    justify-content: center;
    padding-top: 8px;
}

.menu-container .menu-container__submenu {
    padding-top: 4px;
    margin-bottom: 15px;
}

.menu-container__submenu a {
    background: var(--easyRose);
    box-shadow: 0 2px 7px rgb(104 107 113 / 25%);
    border-radius: 5px;
    padding: 4px 8px;
    margin-right: 20px;
    white-space: nowrap;
    text-decoration: none;
    color: white;
    font-size: medium;
    transition: font-size 2s;
}

/*//////////////////////////////////////////////////////////////////
[ Slick1 ]*/

.wrap-slick1 {
    position: relative;
}

.item-slick1 {
    height: calc(100vh - 104px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1 !important;
}

.rs1-slick1 .item-slick1 {
    height: calc(100vh - 84px);
}

.rs2-slick1 .item-slick1 {
    height: 100vh;
}

@media (max-width: 991px) {
    .item-slick1 {
        height: calc(100vh - 70px) !important;
    }
}

.arrow-slick1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    font-size: 80px;
    color: rgba(0, 0, 0, 0.3);
    position: absolute;
    opacity: 0;

    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

    z-index: 200;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.wrap-slick1:hover .arrow-slick1 {
    opacity: 1;
}

.arrow-slick1:hover {
    color: #7280e0;
}

.next-slick1 {
    right: 50px;
    left: auto;
}

.prev-slick1 {
    left: 50px;
    right: auto;
}

@media (max-width: 991px) {
    .next-slick1 {
        right: 15px;
    }

    .prev-slick1 {
        left: 15px;
    }
}

/*---------------------------------------------*/
.rs2-slick1 .arrow-slick1 {
    color: rgba(255, 255, 255, 0.3);
}

.rs2-slick1 .arrow-slick1:hover {
    color: #7280e0;
}

.wrap-slick1-dots {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 60px;
}

.slick1-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.slick1-dots li {
    max-width: 190px;
    position: relative;
    cursor: pointer;
    margin-right: 1px;
}

.slick1-dots li img {
    width: 100%;
}

.caption-dots-slick1 {
    font-family: Poppins-ExtraLight;
    font-size: 16px;
    line-height: 1.3;
    color: #fff;
    text-align: center;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0;
}

.slick1-dots li:hover .caption-dots-slick1 {
    opacity: 1;
}

.slick1-dots li.slick-active .caption-dots-slick1 {
    opacity: 1;
}

@media (max-width: 575px) {
    .caption-dots-slick1 {
        font-size: 13px;
    }

    .wrap-slick1-dots {
        bottom: 25px;
    }
}

.slider_btn__comprar {
    padding: 9px 8px !important;
}

.container-slider {
    position: relative;
    top: 12%;
    left: 6%;
}

@media screen and (min-width: 1900px) {
    .container-slider {
        top: 18%;
        left: 0;
    }
}

.submenu--item::before {
    content: "_";
    color: var(--easyRose);
    cursor: pointer;
}

.slider-text-descripcion {
    color: var(--easyBlue);
    font-size: 40px;
    font-weight: 900;
}

.slider-text-descripcion::before {
    content: "_";
    color: var(--easyRose);
}

.slider-text-price {
    color: var(--easyRose);
    font-size: 32.333px;
    font-weight: 900;
}

@media screen and (max-width: 960px) {
    .slider-text-descripcion {
        font-size: 25px;
    }

    .slider-text-price {
        font-size: 25px;
    }
}

/*//////////////////////////////////////////////////////////////////
[ BLOQUE CATEGORIAS ]*/

.box-container {
    margin-top: -7%;
    display: block;
    position: relative;
}

.box-container__title {
    color: white;
    text-align: center;
    font-size: 33px;
    font-weight: 800;
}

@media screen and (max-width: 960px) {
    .box-container__title {
        font-size: 20px;
    }

    .box-container {
        margin-top: -26%;
    }
}

.wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.box {
    margin: 10px;
    width: 195px;
    height: 295px;
    text-align: center;
    border-radius: 25px;
    -webkit-transition: 200ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.box:hover {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.box-category__logo {
    position: relative;
    top: 15%;
}

.categories_logo {
    width: 43%;
}

.box h1 {
    padding: 30px;
    margin: 40px auto;
    text-align: center;
    font-size: 25px;
    color: var(--easyBlue);
    font-weight: 800;
}

.card-categories__btn {
    position: relative;
    bottom: 2%;
}

.card-categories__btn a {
    background: var(--easyRose);
    border-radius: 20px;
    padding: 12px 35px;
    text-decoration: none;
    color: white;
    font-size: 17px;
}

@media screen and (max-width: 960px) {
    .box {
        width: 116px;
        height: 190px;
    }

    .box-category__logo {
        top: 10%;
    }

    .box h1 {
        padding: 0;
        margin: 35px auto;
        font-size: 20px;
    }

    .card-categories__btn {
        top: 6px;
    }

    .card-categories__btn a {
        padding: 9px 12px;
        font-size: 15px;

    }
}

/*-------------------------------*/
/*       proceso de compra       */
/*-------------------------------*/

.step-to-buy {
    position: relative;
    text-align: center;
    color: var(--easyBlue);
    font-weight: 800;
    font-size: 2rem;
}

.container-steps {
    text-align: end;
    font-size: 100px;
}

.step-one-letter,
.step-two-letter,
.step-three-letter,
.step-four-letter {
    display: flex;
    text-align: start;
    font-size: 20px;
    font-weight: 400;
}

.step-one-letter>div:first-child,
.step-two-letter>div:first-child,
.step-three-letter>div:first-child {
    color: var(--easyRose);
    font-size: 20px;
    font-size: 100px;
    font-weight: 800;
}

.step-one-letter>div:last-child,
.step-two-letter>div:last-child,
.step-three-letter>div:last-child {
    margin: auto 0;
}

.step-one-letter,
.step-two-letter {
    padding-top: 5%;
}

.step-two-letter {
    margin-left: 50px;
}

.step-three-letter,
.step-four-letter {
    justify-content: end;
}

.step-four-letter {
    font-weight: 800;
    font-size: 36px;
}

.container-step__image1>img {
    position: relative;
    left: 12%;
}

.container-step__image2>img {
    position: relative;
    bottom: 34%;
    right: 35%;
}

@media screen and (max-width: 960px) {
    .step-to-buy {
        font-size: 1.21rem;
        margin-bottom: 10%;
    }

    .container-steps .row {
        justify-content: center !important;
    }

    .step-one-letter,
    .step-two-letter,
    .step-three-letter {
        font-size: 15px;
        justify-content: center;
    }

    .step-two-letter {
        padding-top: 0;
        margin-left: 0;
    }

    .step-three-letter,
    .step-four-letter {
        justify-content: initial;
    }

    .step-four-letter {
        justify-content: center;
    }

    .container-step__image1,
    .container-step__image2 {
        display: none;
    }
}

/*-------------------------------*/
/*       proceso de compra       */
/*-------------------------------*/

/*-------------------------------*/
/*    aseguradoras aliadas       */
/*-------------------------------*/

.container-aliados {
    text-align: center;
    color: var(--easyBlue);
    font-weight: 800;
    font-size: 25px;
    border-radius: 25px;
}

@media screen and (max-width: 960px) {
    .container-aliados {
        font-size: 20px;
    }
}

/*-------------------------------*/
/*    aseguradoras aliadas       */
/*-------------------------------*/

/*-------------------------------*/
/*       comentarios easy.       */
/*-------------------------------*/

.container-comments {
    /* display: inline; */
    text-align: center;
    color: var(--easyBlue);
    font-weight: 800;
    font-size: 25px;
}

.container-comments p {
    margin: 0;
    padding: 0;
}

.box-easy_comments {
    width: 50%;
    text-align: center;
    margin: 20px 20px;
    margin-bottom: 30px;
    padding: 50px 15px;
    background-color: white;
    color: gray;
    vertical-align: middle;
    border-radius: 20px;
}

.basic-drop-shadow {
    box-shadow: 0 0 10px;
}

@media screen and (max-width: 960px) {
    .container-comments {
        font-size: 20px;
    }

    .box-easy_comments {
        font-size: 15px;
    }
}

/*-------------------------------*/
/*       comentarios easy.       */
/*-------------------------------*/


/*-------------------------------*/
/*    Page UserConfirmation      */
/*-------------------------------*/

.container-userconfirm {
    margin: 50px auto;
    text-align: center;
    color: var(--easyBlue);
    font-size: 18px;
}

.container-account {
    display: none;
}

.container-userconfirm__title>p:first-child,
.container-account__title>p:first-child {
    font-weight: 800;
    margin-bottom: 5px;
}

.container-check {
    width: 30%;
    margin: auto;
}

input[type='radio'] {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid darkgray;
    border-radius: 50%;
    outline: none;
}


input[type='radio']:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

input[type='radio']:checked:before {
    background: var(--easyRose);
}

input[type='email'],
input[type='password'] {
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    padding: 10px 5px 10px 20px;
    text-indent: 20px;

    -webkit-transition: all 0.2s;
    -moz-transition: all 2s;
    transition: all 0.2s;

    /* width: 200px; */
}

button[class="btn-login"] {
    font-size: 15px;
    background-color: var(--easyRose);
    border-radius: 5px;
    border-style: none;
    /* box-shadow: #38549D 0 5px 0 0; */
    color: #FFFFFF;
    outline-style: none;
    padding: 5px 15px;
}

.nRegister {
    margin-top: 8px;
    font-size: 10px;
    text-align: end;
    text-decoration: none;
}

@media screen and (max-width: 599px) {
    .container-check {
        width: 100%;
    }
}


/*-------------------------------*/
/*    Page UserConfirmation      */
/*-------------------------------*/


/*-------------------------------*/
/*        Product Page           */
/*-------------------------------*/

.container-productos {
    color: var(--easyBlue);
    font-size: 20px;
}

#auto,
#moto,
#soat,
#basico,
#estandar {
    display: none;
}

.clickable {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border-radius: 4px;
    transition: all ease .5s;
}

.checked-box {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 22px;
    height: 22px;
    background-color: #0055ff;
    color: #fff;
    text-align: center;
    border-top-right-radius: 4px;
    display: none;
}

input[name="motor"]:checked+.clickable {
    border-color: #0055ff;
    box-shadow: 0px 0px 6px 2px #0055ff;
}

input[name="categoria"]:checked+.clickable {
    border-color: #0055ff;
    box-shadow: 0px 0px 6px 2px #0055ff;
}


/*-------------------------------*/
/*       insurance  card         */
/*-------------------------------*/

.card-container{
    text-align: center;
    /* width: 11% !important; */
}

.card-subtitle {
    color: var(--easyBlue) !important;
    font-size: 30px;
    font-weight: 800;
}

.card-text {
    font-size: 18px;
}

.card-detail {
    display: inline;
    color: var(--easyGray);
    font-size: 16px;
}

.card-list__items {
    color: var(--easyGray);
    font-size: 15px;
}

.card-list__items ul li::before {
    content: "\2022";
    color: var(--easyRose);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-bottom: 8px;
}

.annuity {
    font-size: 16px;
}

.price {
    color: var(--easyBlue) !important;
    font-size: 35px;
    font-weight: 800;
}

button[class="btn-comprar"] {
    font-size: 24px;
    background-color: var(--easyRose);
    border-radius: 5px;
    border-style: none;
    color: #FFFFFF;
    outline-style: none;
    padding: 16px 0;
    width: 100%;
}

.hide{
    display: none;
}



/*-------------------------------*/
/*       insurance  card         */
/*-------------------------------*/

/*-------------------------------*/
/*        Product Page           */
/*-------------------------------*/

/*-------------------------------*/
/*       Register Page Auto      */
/*-------------------------------*/

.container-registro{
    display: flex;
}

.product-card-selected{
    width: 34em;
}

.cPoliza,.detail-selected{
    color: var(--easyBlue);
}

.card-subtitle__poliza{
    color: var(--easyRose);
    font-size: 30px;
    font-weight: 800;
}

.registro-datos__title,
.registro-contactos__title{
    font-size: 2.1rem;
    color: var(--easyBlue);
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
    
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: block;
    font-size: 18px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
    position: relative;
    z-index: 1;
    font-weight: 800;
    
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 14px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    /* z-index: -1;  */
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
    
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: var(--easyBlue);
    color: white;
}

.container-registro-datos,
.container-registro-contactos{
    color: var(--easyBlue);
    border-radius: 1%;
    height: max-content;
}



/*-------------------------------*/
/*       Register Page Auto      */
/*-------------------------------*/




