@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800;900&display=swap);

:root {
    --easyRose: #ff0180;
    --easyBlue: #033777;
    --easyGray: #595959;
    --background_color: white;

    --star-size: 1.8rem;
    --star-color: #595959;
    --star-background: var(--easyRose);
}

.fntw-600 {
    font-weight: 600;
}
.fntw-800 {
    font-weight: 800;
}
.fntw-900 {
    font-weight: 900;
}
.fnt-size-1 {
    font-size: 1rem;
}
.fnt-size-1-5 {
    font-size: 1.5rem;
}
.fnt-size-2 {
    font-size: 2rem;
}
.fnt-size-3 {
    font-size: 3rem;
}

.hide {
    display: none;
}

.underline::before {
    content: "_";
    color: var(--easyRose);
}

div > p > span {
    color: var(--easyRose);
}

.easyBlue {
    color: var(--easyBlue);
}
.easyBlue400 {
    font-weight: 400;
    color: var(--easyBlue);
}
.easyBlue600 {
    font-weight: 600;
    color: var(--easyBlue);
}
.easyBlue800 {
    font-weight: 800;
    color: var(--easyBlue);
}
.easyRose800 {
    font-weight: 800;
    color: var(--easyRose);
}

/* input[type='radio'] {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid darkgray;
    border-radius: 50%;
    outline: none;
} */

input[type="radio"]:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: lightgray;
}

input[type="radio"]:checked:before {
    background: var(--easyRose);
}

.btn_payeasy--load {
    background: var(--easyRose);
    box-shadow: 0 2px 7px rgb(104 107 113 / 25%);
    border-radius: 5px;
    padding: 10px 50px;
    color: white;
    font-size: medium;
    transition: font-size 2s;
    width: min-content;
    border: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body,
html {
    font-family: "Montserrat", sans-serif;
    background-color: var(--background_color);
    height: 100vh;
}

/*-------------------------------*/
/*           Sidebar            */
/*-------------------------------*/
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: transparent;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    /* background: #1a1a1a; */
    background: var(--background_color);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    /* padding-top: 70px; */
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.navbar {
    padding: 0;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    -webkit-transition: width 0.2s ease-in;
    -moz-transition: width 0.2s ease-in;
    -ms-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
}

/* .sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
} */
.sidebar-nav li:nth-child(5n + 1):before {
    background-color: var(--easyRose);
}

.sidebar-nav li:nth-child(5n + 2):before {
    background-color: var(--easyRose);
}

.sidebar-nav li:nth-child(5n + 3):before {
    background-color: var(--easyRose);
}

.sidebar-nav li:nth-child(5n + 4):before {
    background-color: var(--easyRose);
}

.sidebar-nav li:nth-child(5n + 5):before {
    background-color: var(--easyRose);
}

/* .sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

} */

.sidebar-nav li a {
    display: block;
    /* color: #ddd; */
    color: var(--easyRose);
    text-decoration: none;
    padding: 10px 15px 20px 30px;
    font-size: 18px;
    font-weight: 800;
}

.sidebar-nav .underline {
    font-size: 14px;
    color: var(--easyBlue);
    text-decoration: none;
    padding: 0 0 0 36px;
}

.sidebar-header {
    text-align: center;
    font-size: 20px;
    position: relative;
    width: 100%;
    display: inline-block;
}

.sidebar-brand {
    height: 65px;
    position: relative;
    background: var(--background_color);
    padding-top: 1em;
}

.sidebar-brand a {
    color: var(--easyRose);
    font-weight: 800;
    font-size: 18px;
}

/* .sidebar-brand a:hover {
    color: #fff;
    text-decoration: none;
} */

.dropdown-header {
    text-align: center;
    font-size: 1em;
    color: #ddd;
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    /* background-color: #222; */
    background-color: inherit;
    box-shadow: none;
}

.dropdown-menu.show {
    top: 0;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
    position: absolute;
    top: 30px;
    z-index: 999;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 15px;
    background: transparent;
    border: none;
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
    outline: none;
}

.hamburger.is-closed:before {
    content: "";
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
}

.hamburger.is-closed:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
    /* background-color: #1a1a1a; */
    background-color: var(--easyGray);
}

.hamburger.is-closed .hamb-top {
    top: 5px;
    -webkit-transition: all 0.35s ease-in-out;
}

.hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-closed .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all 0.35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
    top: 0;
    -webkit-transition: all 0.35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-bottom {
    bottom: 0;
    -webkit-transition: all 0.35s ease-in-out;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    background-color: #1a1a1a;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
}

.hamburger.is-open .hamb-middle {
    display: none;
}

.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
}

.hamburger.is-open:before {
    content: "";
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
}

.hamburger.is-open:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(250,250,250,.8); */
    background-color: rgba(0, 0, 0, 0.6);

    z-index: 10;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

/*-------------------------------*/
/*           Sidebar            */
/*-------------------------------*/

.header-container {
    display: inline-flex;
    box-shadow: 0px 34px 32px -8px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 0px 34px 32px -8px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 34px 32px -8px rgba(0, 0, 0, 0.17);
}

.header-container__sidebar {
    z-index: 2;
    height: 71px;
}

.header-container__logo {
    width: 100%;
    text-align: center;
    position: relative;
    background-color: white;
}

.menu-container {
    display: inline-flex;
    overflow: hidden;
    justify-content: center;
    padding-top: 8px;
}

.menu-container .menu-container__submenu {
    padding-top: 4px;
    margin-bottom: 15px;
}

.menu-container__submenu a {
    background: var(--easyRose);
    box-shadow: 0 2px 7px rgb(104 107 113 / 25%);
    border-radius: 5px;
    padding: 4px 35px;
    margin-right: 0.8rem;
    white-space: nowrap;
    text-decoration: none;
    color: white;
    font-size: medium;
    transition: font-size 2s;
}

/*//////////////////////////////////////////////////////////////////
[ Slick1 ]*/

.wrap-slick1 {
    position: relative;
}

.item-slick1 {
    height: calc(100vh - 248px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1 !important;
}

.rs1-slick1 .item-slick1 {
    height: calc(100vh - 84px);
}

.rs2-slick1 .item-slick1 {
    height: 100vh;
}

@media (max-width: 991px) {
    .item-slick1 {
        height: calc(100vh - 315px) !important;
        background-image: none !important;
    }
}

.arrow-slick1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    font-size: 80px;
    color: rgba(0, 0, 0, 0.3);
    position: absolute;
    opacity: 0;

    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

    z-index: 200;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.wrap-slick1:hover .arrow-slick1 {
    opacity: 1;
}

.arrow-slick1:hover {
    color: #7280e0;
}

.next-slick1 {
    right: 50px;
    left: auto;
}

.prev-slick1 {
    left: 50px;
    right: auto;
}

@media (max-width: 991px) {
    .next-slick1 {
        right: 15px;
    }

    .prev-slick1 {
        left: 15px;
    }
}

/*---------------------------------------------*/
.rs2-slick1 .arrow-slick1 {
    color: rgba(255, 255, 255, 0.3);
}

.rs2-slick1 .arrow-slick1:hover {
    color: #7280e0;
}

.wrap-slick1-dots {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 60px;
}

.slick1-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.slick1-dots li {
    max-width: 190px;
    position: relative;
    cursor: pointer;
    margin-right: 1px;
}

.slick1-dots li img {
    width: 100%;
}

.caption-dots-slick1 {
    font-family: Poppins-ExtraLight;
    font-size: 16px;
    line-height: 1.3;
    color: #fff;
    text-align: center;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0;
}

.slick1-dots li:hover .caption-dots-slick1 {
    opacity: 1;
}

.slick1-dots li.slick-active .caption-dots-slick1 {
    opacity: 1;
}

@media (max-width: 575px) {
    .caption-dots-slick1 {
        font-size: 13px;
    }

    .wrap-slick1-dots {
        bottom: 25px;
    }
}

.slider_btn__comprar {
    padding: 9px 8px !important;
}

.container-slider {
    position: relative;
    top: 12%;
    left: 6%;
}

@media screen and (min-width: 1900px) {
    .container-slider {
        top: 18%;
        left: 0;
    }
}

.submenu--item::before {
    content: "_";
    color: var(--easyRose);
    cursor: pointer;
}

.slider-text-descripcion {
    color: var(--easyBlue);
    font-size: 40px;
    font-weight: 900;
}

.slider-text-descripcion::before {
    content: "_";
    color: var(--easyRose);
}

.slider-text-price {
    color: var(--easyRose);
    font-size: 32.333px;
    font-weight: 900;
}

@media screen and (max-width: 40rem) {
    .slider-text-descripcion {
        font-size: 25px;
    }

    .slider-text-price {
        font-size: 25px;
    }
}

.slick-prev:before,
.slick-next:before {
    color: var(--easyRose);
    font-size: 30px;
}

/*//////////////////////////////////////////////////////////////////
[ BLUE SQUARE ]*/

.blue-square__container {
    height: 23rem;
    background-color: var(--easyBlue);
    margin-top: -10px;
}

.blue-square__container__container {
    padding: 2.6rem;
    display: flex;
    justify-content: center;
}

.blue-square__container__container > hr {
    color: var(--easyGray);
    width: 500px;
}

.blue_square__container__btn {
    justify-content: start;
}

.blue_square__container__btn button {
    margin-left: 1rem;
}

.blue-square__container__title {
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

.blue_square__container__btn > button {
    background-color: #d9d9d9;
    color: var(--easyBlue);
    font-weight: 600;
}

.container-hr {
    margin-bottom: 3rem;
}

@media screen and (max-width: 48rem) {
    .blue-square__container__title {
        font-size: 1.5rem;
    }
    .blue-square__container__container {
        align-items: center;
        flex-direction: column;
    }

    .blue_square__container__btn {
        margin-top: 1rem;
        padding-bottom: 1rem;
    }

    .container-hr {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}
@media screen and (max-width: 23.4375rem) {
    .blue_square__container__btn button {
        margin-left: 0;
    }
}

@media screen and (max-width: 20rem) {
    .blue-square__container__title {
        font-size: 1.3rem;
    }

    .blue_square__container__btn button {
        margin-left: 0;
        width: 6rem;
    }

    .btn {
        font-size: 0.6rem;
    }

    .box-container {
        margin-top: -80%;
    }
}

/*//////////////////////////////////////////////////////////////////
[ BLUE SQUARE ]*/
/*//////////////////////////////////////////////////////////////////
[ BLOQUE CATEGORIAS ]*/

.container-hr {
    width: 80%;
    max-width: 80%;
}

.box-container {
    margin-top: -16rem;
    display: block;
    position: relative;
}

.box-container__title {
    color: white;
    text-align: center;
    font-size: 1.8rem;
    /* font-weight: 800; */
}

@media screen and (max-width: 40rem) {
}

.wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.box {
    position: relative;
    margin: 10px;
    width: 195px;
    height: 295px;
    text-align: center;
    border-radius: 5px;
    -webkit-transition: 200ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.box:hover {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.box-category-logo {
    position: relative;
    top: 3rem;
}

.box-category-logo.auto {
    top: 5rem;
}

.box-category-logo__image {
    width: 8rem;
}

.box-category__title {
    position: absolute;
    bottom: 28%;
    width: 100%;
}

.box-category__title > h1 {
    font-size: 25px;
    color: var(--easyBlue);
    font-weight: 800;
}

.box-category__button {
    width: 100%;
    position: absolute;
    bottom: 25px;
}

.box-category__button > a {
    background-color: var(--easyRose);
    padding: 12px 35px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

@media screen and (max-width: 40rem) {
    .box-container__title {
        font-size: 20px;
    }

    .box-container {
        margin-top: -55%;
    }

    .box {
        width: 116px;
        height: 190px;
    }

    .box-category-logo {
        top: 2rem;
    }

    .box-category-logo.auto {
        top: 3rem;
    }

    .box-category-logo__image {
        width: 4.5rem;
    }

    .box-category__title {
        bottom: 30%;
    }

    .box-category__title > h1 {
        font-size: 20px;
    }

    .box-category__button > a {
        padding: 9px 12px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 20rem) {
    .box-container {
        margin-top: -80%;
    }
}

/*-------------------------------*/
/*       proceso de compra       */
/*-------------------------------*/

.container-step-to-buy {
    display: block;
    text-align: center;
    color: var(--easyBlue);
    overflow: hidden;
    font-size: 2rem;
}
.step-to-buy__title > div:first-child {
    font-weight: 800;
}

.steps-container__box {
    display: flex;
    justify-content: space-around;
}

.steps-by-steps .step-one-letter,
.steps-by-steps .step-two-letter,
.steps-by-steps .step-three-letter {
    display: flex;
    margin: 12px;
    width: 120%;
    border-radius: 10px;
}

.step-one-letter > div:first-child,
.step-two-letter > div:first-child,
.step-three-letter > div:first-child {
    color: var(--easyRose);
    font-size: 100px;
    font-weight: 900;
    width: 1rem;
    margin: 0 40px;
}

.step-one-letter > div:last-child,
.step-two-letter > div:last-child,
.step-three-letter > div:last-child {
    text-align: start;
    margin: auto 34px;
    font-size: 20px;
    width: 500px;
}

.container-step__image2 {
    position: relative;
    /* right: 5.625rem; */
}

@media screen and (max-width: 48rem) {
    .container-step-to-buy {
        font-size: 1.5rem;
    }

    .step-to-buy__title {
        line-height: normal;
    }

    .steps-container__box {
        justify-content: flex-start;
    }

    .steps-by-steps .step-one-letter,
    .steps-by-steps .step-two-letter,
    .steps-by-steps .step-three-letter {
        width: 123%;
    }

    .step-one-letter > div:last-child,
    .step-two-letter > div:last-child,
    .step-three-letter > div:last-child {
        text-align: start;
        margin: auto 16px;
        font-size: 20px;
        width: 360px;
    }

    .container-step__image2 {
        right: 4.625rem;
    }
}

@media screen and (max-width: 27rem) {
    .container-step-to-buy {
        font-size: 1.2rem;
    }

    .steps-by-steps {
        position: absolute;
        left: 0;
    }

    .container-step__image2 {
        left: 12rem;
    }

    .steps-container__box {
        justify-content: flex-start;
    }

    .step-one-letter > div:first-child,
    .step-two-letter > div:first-child,
    .step-three-letter > div:first-child {
        font-size: 90px;
        width: 4rem;
        margin: 0;
    }
    .step-one-letter > div:last-child,
    .step-two-letter > div:last-child,
    .step-three-letter > div:last-child {
        margin: auto 0;
        width: 171px;
        font-size: 12px;
    }
}

@media screen and (max-width: 20rem) {
    .step-one-letter > div:last-child {
        width: 170px;
    }

    .step-two-letter > div:last-child {
        width: 135px;
    }

    .step-three-letter > div:last-child {
        width: 110px;
    }

    .container-step__image2 {
        left: 9rem;
    }
}

/*-------------------------------*/
/*       proceso de compra       */
/*-------------------------------*/

/*-------------------------------*/
/*         Super Easy            */
/*-------------------------------*/

.container-super__easy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eff1f4;
    color: var(--easyBlue);
    height: 740px;
    position: relative;
}

.box-super_easy {
    display: flex;
    justify-content: center;
}

.box-super_easy .container-super__title {
    font-size: 155px;
    font-weight: 800;
    margin-right: 5%;
}

.box-super_easy .container-super__image {
    margin-top: 1rem;
}

.container-super__subtitle {
    font-size: 38px;
    font-weight: 800;
}

.container-super__subtitle p span {
    color: #009ee2;
}

@media screen and (max-width: 64rem) {
    .box-super_easy .container-super__title {
        font-size: 7rem;
    }

    .container-super__image img {
        width: 22rem;
    }
}

@media screen and (max-width: 48rem) {
    .box-super_easy {
        flex-direction: column;
        align-items: center;
    }

    .box-super_easy .container-super__title {
        margin-right: 0;
        font-size: 5rem;
    }

    .box-super_easy .container-super__image {
        margin-top: 3rem;
    }

    .container-super__subtitle {
        font-size: 1.5rem;
        position: absolute;
        bottom: 2rem;
    }

    .container-super__image img {
        width: 20rem;
    }
}

@media screen and (max-width: 20rem) {
    .box-super_easy .container-super__title {
        font-size: 5rem;
    }
    .container-super__image img {
        width: 18rem;
    }
}

/*-------------------------------*/
/*         Super Easy            */
/*-------------------------------*/

/*-------------------------------*/
/*       comentarios easy.       */
/*-------------------------------*/

.container-comments {
    text-align: center;
    color: var(--easyBlue);
    font-weight: 400;
    font-size: 25px;
    position: relative;
}

.container-comments p {
    z-index: 3;
    margin: 0;
    padding: 0;
}

.container-comments__title {
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: inherit;
    margin-left: 10rem;
}

.circle {
    position: absolute;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    background: #00cef2;
    bottom: 0;
    left: 15px;
}

.container-persona_logo {
    position: absolute;
    z-index: 2;
    bottom: -73px;
    left: 100px;
}

.slick-track {
    margin: auto;
}

.container-box__one,
.slick-track {
    display: flex;
}

.box-easy_comments {
    height: 195px;
    width: 409px;
    background-color: white;
    border-radius: 5px;
    padding-left: 15px;
    margin: 25px;
}

.basic-drop-shadow {
    box-shadow: rgb(0 0 0 / 6%) 0px 1px 8px 0px,
        rgb(0 0 0 / 16%) 0px 31px 30px -18px;
}

.user-profile__box {
    display: flex;
    align-items: center;
}

.user-profile__image,
.comments {
    padding: 10px;
}

.user-profile__name {
    text-align: left;
    display: grid;
}
.user-profile__name span {
    font-size: 1rem;
}

.comments {
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    line-height: 1.1rem;
    color: var(--easyGray);
    padding: 1rem;
}

.Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
}
.Stars::before {
    content: "★★★★★";
    letter-spacing: 3px;
    background: linear-gradient(
        90deg,
        var(--star-background) var(--percent),
        var(--star-color) var(--percent)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 48rem) {
    .container-persona_logo {
        z-index: 0;
        top: -84px;
        left: -77px;
    }

    .circle {
        width: 25rem;
        height: 25rem;
        bottom: 10px;
        left: -134px;
    }

    .container-comments__title {
        text-align: end;
        font-size: 1rem;
    }

    .container-box__one,
    .slick-track {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 40rem) {
    .container-comments {
        font-size: 20px;
    }

    .box-easy_comments {
        font-size: 15px;
    }

    .container-comments__title {
        margin-left: 8rem;
    }
}

/*-------------------------------*/
/*       comentarios easy.       */
/*-------------------------------*/

/*-------------------------------*/
/*            Aliados            */
/*-------------------------------*/

.container-aliados {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    line-height: 1;
    justify-content: center;
    text-align: center;
    height: auto;
    background-color: #333333;
    color: #ffffff;
    font-size: 1.5rem;
    overflow: hidden;
    z-index: 2;
}

/* @media screen and (max-width: 768px) {
    .bartoli__aliados,
    .mapfre__aliados,
    .optima__aliados,
    .sura__aliados,
    .nacional__aliados,
    .panamasonrie__aliados > img {
        width: 110px;
    }
} */

/*-------------------------------*/
/*            Aliados            */
/*-------------------------------*/

/*-------------------------------*/
/*    Page UserConfirmation      */
/*-------------------------------*/

.container-userconfirm {
    margin: 50px auto;
    text-align: center;
    color: var(--easyBlue);
    font-size: 18px;
    height: 100vh;
}

.container-account,
.new-account {
    display: none;
}

.container-userconfirm__title > p:first-child {
    font-size: 25px;
}

.container-userconfirm__title > p:first-child,
.container-account__title > p:first-child {
    font-weight: 800;
    margin-bottom: 5px;
}

.container-new-account__title a,
.nRegister a {
    text-decoration: none;
    color: inherit;
}

.container-check {
    width: 30%;
    margin: auto;
}

.login_mail,
.login_pass {
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    padding: 10px 5px 10px 20px;
    text-indent: 20px;

    -webkit-transition: all 0.2s;
    -moz-transition: all 2s;
    transition: all 0.2s;
}

button[class="btn-login"] {
    font-size: 15px;
    background-color: var(--easyRose);
    border-radius: 5px;
    border-style: none;
    /* box-shadow: #38549D 0 5px 0 0; */
    color: #ffffff;
    outline-style: none;
    padding: 5px 15px;
}

.nRegister {
    margin-top: 8px;
    font-size: 10px;
    text-align: end;
    text-decoration: none;
}

@media screen and (max-width: 599px) {
    .container-check {
        width: 100%;
    }
}

.container-login {
    display: flex;
    position: absolute;
    right: 20px;
    height: 95px;
    align-items: center;
}

/*-------------------------------*/
/*    Page UserConfirmation      */
/*-------------------------------*/

/*-------------------------------*/
/*        Product Page           */
/*-------------------------------*/

.container-productos {
    color: var(--easyBlue);
    font-size: 20px;
}

#auto,
#moto,
#soat,
#basico,
#estandar,
#soat-motos,
#basico-motos,
#estandar-motos {
    display: none;
}

.clickable {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border-radius: 4px;
    transition: all ease 0.5s;
}

.checked-box {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 22px;
    height: 22px;
    background-color: #0055ff;
    color: #fff;
    text-align: center;
    border-top-right-radius: 4px;
    display: none;
}

input[name="motor"]:checked + .clickable {
    border-color: #0055ff;
    box-shadow: 0px 0px 6px 2px #0055ff;
}

input[name="categoria"]:checked + .clickable {
    border-color: #0055ff;
    box-shadow: 0px 0px 6px 2px #0055ff;
}

/*-------------------------------*/
/*       insurance  card         */
/*-------------------------------*/
.slick-slide {
    margin: 10px;
}

.card-container {
    text-align: center;
}

.card-container__insurance {
    height: 615px;
    width: 350px;
    margin: auto;
}

.card_box {
    margin-left: 15px;
    margin-right: 15px;
}

.card-subtitle {
    color: var(--easyBlue) !important;
    font-size: 30px;
    font-weight: 800;
}

.card-text {
    font-size: 18px;
}

.card-detail {
    display: inline;
    color: var(--easyGray);
    font-size: 16px;
}

.card-list__items {
    color: var(--easyGray);
    font-size: 15px;
}

.card-list__items ul li {
    margin-bottom: 8px;
}

.card-list__items ul li:before {
    margin: 0px 12px 0px -16px;
}

.card-list__items ul li::before {
    content: "\2022";
    color: var(--easyRose);
    font-weight: bold;
    display: inline-block;
    /* width: 1em; */
    /* margin-bottom: 8px; */
}

.grouping_price {
    position: absolute;
    bottom: 10px;
    width: 17rem;
}

.annuity {
    font-size: 16px;
}

.price {
    color: var(--easyBlue) !important;
    font-size: 35px;
    font-weight: 800;
}

button[class="btn-comprar"] {
    font-size: 24px;
    background-color: var(--easyRose);
    border-radius: 5px;
    border-style: none;
    color: #ffffff;
    outline-style: none;
    padding: 16px 0;
    width: 100%;
}

button[class="btn-comprar"] > a {
    color: #ffffff;
    text-decoration: none;
}

.condicion_poliza {
    text-align: center;
    font-size: 1rem;
    color: var(--easyBlue);
    margin-top: 0.5rem;
    font-weight: 600;
}

/*-------------------------------*/
/*       insurance  card         */
/*-------------------------------*/

/*-------------------------------*/
/*        Product Page           */
/*-------------------------------*/

/*-------------------------------*/
/*       Global inputForm        */
/*-------------------------------*/
.input__style {
    background-color: #eff1f4;
    border: none;
    border-radius: 8px;
}

/*-------------------------------*/
/*   Global inputForm  FIN       */
/*-------------------------------*/

/*-------------------------------*/
/*       Register Page Auto      */
/*-------------------------------*/

.container-registro {
    display: flex;
}

.product-card-selected {
    width: 40rem;
}

.detail-selected {
    text-align: end;
}

.cPoliza,
.detail-selected_title {
    color: var(--easyBlue);
}

.card-subtitle__poliza {
    color: var(--easyRose);
    font-size: 30px;
    font-weight: 800;
}

.registro-datos__title {
    color: var(--easyBlue);
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.registro-datos__subtitle,
.registro-contactos__title {
    font-size: 1.9rem;
    color: var(--easyBlue);
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: block;
    font-size: 18px;
    color: darkgray;
    background: lightgray;
    border-radius: 25px;
    margin: 0 auto 10px auto;
    position: relative;
    z-index: 1;
    font-weight: 800;
}

/*progressbar connectors*/
#progressbar li:after {
    content: "";
    width: 100%;
    height: 14px;
    background: lightgray;
    position: absolute;
    left: -50%;
    top: 9px;
    /* z-index: -1;  */
}
#progressbar li.semiactive:after {
    content: "";
    width: 100%;
    height: 14px;
    background: linear-gradient(
        90deg,
        rgba(3, 55, 119, 1) 50%,
        rgba(211, 211, 211, 1) 50%
    );
    position: absolute;
    left: -50%;
    top: 9px;
    /* z-index: 2; */
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
    background: var(--easyBlue);
    color: white;
}

#progressbar li.semi-active:before,
#progressbar li.semi-active:after {
    background: var(--easyBlue);
}

.container-registro-datos {
    width: fit-content;
}

.container-registro-datos,
.container-registro-contactos {
    color: var(--easyBlue);
    border-radius: 10px;
    height: max-content;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: flex;
    padding: 10px 50px;
    cursor: pointer;
    color: gray;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/*-------------------------------*/
/*       Register Page Auto      */
/*-------------------------------*/

/*-------------------------------*/
/*   Register Page Mascotas      */
/*-------------------------------*/

.registro-datos__title__mascotas {
    color: var(--easyBlue);
    font-size: 2rem;
    font-weight: 800;
    padding-bottom: 5px;
}

.registro-datos__subtitle__mascotas {
    color: var(--easyBlue);
    font-size: 1.5rem;
}

.container-identity__pets {
    display: flex;
}

.container-card__selected {
    width: 50%;
    background-color: tan;
}

.container-icon__pet {
    background-color: violet;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-size: 1.3rem;
}

.container-icon__pet > .pet__dog,
.container-icon__pet > .pet__cat {
    margin: 0 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--easyBlue);
    font-weight: 600;
}

/*-------------------------------*/
/*   Register Page Mascotas      */
/*-------------------------------*/

/*-------------------------------*/
/*       formulario contactos    */
/*-------------------------------*/

.container-formulario__info {
    padding: 1.5rem;
    color: var(--easyBlue);
    border-radius: 10px;
    width: 20rem;
}

.container-formulario__titulo {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 800;
}

.form-group label {
    margin: 0 0 4px 7px;
}

.footer button[type="submit"] {
    width: 7rem;
}

/*-------------------------------*/
/*       landings autos /fin\    */
/*-------------------------------*/
/*-------------------------------*/
/*            landings           */
/*-------------------------------*/

.container-landing {
    display: flex;
    position: relative;
    height: 39rem;
}

.container-landing__descripciones {
    color: var(--easyBlue);
}

.container-landing__titulo,
.container-landing__personas__titulo {
    width: 38.5rem;
    line-height: normal;
    font-size: 2rem;
    font-weight: 800;
}

.container-landing__personas__titulo {
    width: 44.5rem;
}

.container-landing__subtitulo-1 {
    line-height: initial;
}

.container-landing__subtitulo-2 {
    position: relative;
    left: 7rem;
    width: 50rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* align-content: flex-end; */
    align-items: center;
    margin-top: 2rem;
    line-height: normal;
    font-size: 23px;
    font-weight: 800;
}
.container-landing__hogar__subtitulo-2 {
    width: 50rem;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    line-height: normal;
    font-size: 23px;
    font-weight: 800;
}

.container-image__hogar {
    position: relative;
    bottom: 7rem;
    left: 6rem;
}

.container-image__persona {
    position: relative;
    display: flex;
    justify-content: flex-end;
    /* flex-direction: row; */
    bottom: 7.25rem;
    /* right: 12rem; */
}

/*-------------------------------*/
/*        landings  /fin\        */
/*-------------------------------*/

/*-------------------------------*/
/*      Centro de Ayuda          */
/*-------------------------------*/

.container-helpcenter {
    color: var(--easyBlue);
    height: 100%;
    position: relative;
    padding-top: 3rem;
}

.container-helpcenter__title,
.container-frequent-question__title {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
}

.container-helpcenter__paragraph {
    text-align: center;
    line-height: 1.3;
    font-size: 1.5rem;
}

.container-general__info {
    display: flex;
    text-align: center;
    margin-top: 5rem;
}

.container-genreal__info__easy,
.container-genreal__info__bartoli {
    width: 50%;
}

.container-general__info_contact_bartoli {
    padding-top: 0.8rem;
}

.container-general__info_partners {
    background-image: url("/public/includes/images/centro-de-ayuda/linea-back.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 541px;
    display: flex;
    justify-content: center;
}

.container-genreal__info__easy_partner {
    text-align: center;
    font-weight: 600;
    color: var(--easyBlue);
}

.card-general__info {
    height: 32rem;
    margin: 1rem;
    width: 23rem !important;
    min-width: 16rem;
    border-radius: 15px;
}

.container-frequent-question__title {
    color: var(--easyBlue);
}

.container-frequent-question__response__categories {
    z-index: 3;
    width: 100%;
}

.container-frequent-question__response__easy {
    border-radius: 15px;
}

/*Question*/
.question {
    position: relative;
    background: white;
    margin: 0;
    padding: 10px 10px 10px 50px;
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: 15px;
}

/*Answer*/
.answers {
    padding: 0px 15px;
    margin: 5px 0;
    width: 100% !important;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    border-radius: 15px;
}

.answers ol {
    list-style: decimal;
    font-family: ;
}

.question span {
    font-size: 3rem;
    font-weight: 900;
    color: var(--easyRose);
}

.questions:checked ~ .answers {
    height: auto;
    opacity: 1;
    padding: 15px;
}

.questions:checked ~ .plus {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.questions {
    display: none;
}

.container-frequent-question__image {
    position: relative;
    right: 73px;
    z-index: 1;
}

.bigger-margin ul {
    margin-left: 20px;
}

@media (max-width: 768px) {
    .container-helpcenter__title {
        font-size: 1.7rem;
    }

    .container-helpcenter {
        padding-top: 2rem !important;
    }

    .container-helpcenter__paragraph {
        text-align: initial;
        line-height: 1.3;
        font-size: 1rem;
    }

    .container-genreal__info__easy-img img {
        width: 5rem;
    }
    .container-genreal__info__bartoli-img img {
        width: 7rem;
        position: relative;
        bottom: 8px;
    }
    .container-general__info_contact_bartoli {
        padding-top: 0.1rem;
    }

    .container-general__info {
        font-size: 0.6rem;
    }
    .container-frequent-question__image {
        display: none;
    }

    .container-frequent-question__title {
        font-size: 1.5rem;
    }

    .question span {
        font-size: 2rem;
    }
}

/*-------------------------------*/
/*      Centro de Ayuda /fin\    */
/*-------------------------------*/

/*-------------------------------*/
/*          Conoce easy          */
/*-------------------------------*/

.container-conoce__easy {
    color: var(--easyBlue);
    text-align: center;
}

.container-conocenos__title,
.container-conocenos__subtitle {
    font-weight: 800;
}

.container-conocenos__title {
    font-size: 1.3rem;
}

.container-conocenos__subtitle {
    font-size: 1.8rem;
}

.container-conocenos__paragraph {
    font-size: 1.6rem;
}

.forma1 {
    position: absolute;
    text-align: end;
    overflow: hidden;
}

.forma2 {
    position: relative;
    text-align: end;
    bottom: 50px;
    overflow: hidden;
}

.container-nuestro__propositos__creencias {
    padding-top: 3rem;
    display: flex;
    justify-content: flex-end;
    margin-right: 0 !important;
}

.container-nuestro__proposito {
    width: 20rem;
    border-radius: 5px;
    background-color: #003a73;
    color: white;
    z-index: 1;
}

.container-nuestro__proposito__letter {
    width: 20rem;
    line-height: initial;
    text-align: start;
    display: block;
}

.container-nuestro__proposito__letter span:first-of-type {
    font-size: 0.8rem;
    font-weight: 600;
    white-space: pre;
}
.container-nuestro__proposito__letter span:first-of-type::after {
    content: "\A";
    white-space: pre;
    line-height: none;
}
.container-nuestro__proposito__letter span:last-of-type {
    font-size: 0.7rem;
    line-height: none;
}

.container-nuestra_creencia {
    width: inherit;
    border-radius: 5px;
    background-color: #fbfbfb;
    z-index: 1;
}

.container-legenda {
    display: flex;
    color: var(--easyBlue);
}

.container-legenda__paragraph {
    line-height: normal;
    font-size: 0.9rem;
}

.container-legenda__paragraph p {
    margin-left: 6rem;
}

.container-legend__bartoli__info {
    text-align: center;
    width: 32rem;
}

.container_info__owners {
    width: 21rem;
    text-align: end;
}

.container_info__owners-1 span:first-of-type,
.container_info__owners-2 span:first-of-type {
    font-size: 0.9rem;
    font-weight: 600;
}
.container_info__owners-1 span:last-of-type,
.container_info__owners-2 span:last-of-type {
    color: var(--easyRose);
    font-weight: 600;
    font-size: 0.7rem;
}

.container-categorias {
    color: var(--easyBlue);
    text-align: center;
    line-height: normal;
    height: 17rem;
    background-color: #fbfbfb;
}

.container-categorias__title {
    font-size: 1.3rem;
    font-weight: 900;
}

.box-container__categorias__conocenos {
    position: relative;
    bottom: 8rem;
}

.container-footer {
    overflow: hidden;
}
.container-footer__image {
    /* position: absolute; */
    object-position: 100px 50px;
    margin-left: auto;
    margin-right: auto;
}
.container-form {
    position: absolute;
}

.container-footer {
    background-image: url("/public/includes/images/conocenos/footer-conocenos.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 541px;
    z-index: 1;
}

@media (max-width: 768px) {
    .container-legenda__paragraph p {
        margin: 0;
    }

    .container-legend__bartoli__info {
        width: inherit;
    }

    .container-legend__bartoli__info-img {
        text-align: end;
    }
}

@media (max-width: 425px) {
    .container-conocenos__paragraph {
        font-size: 1.2rem;
    }

    .forma1,
    .forma2 {
        display: none;
    }
    .container-nuestro__propositos__creencias {
        flex-direction: column;
        align-items: center;
    }

    .container-legenda {
        flex-direction: column;
    }

    .container-legenda__paragraph p {
        margin: 0;
    }

    .box-container__categorias__conocenos {
        position: inherit;
    }

    .container_info__owners {
        width: inherit;
    }
    .container-categorias__title {
        font-size: 1rem;
    }
    .container-categorias {
        height: 10rem;
    }
}

@media (max-width: 320px) {
    .container-categorias__title {
        font-size: 0.8rem;
    }

    .container-categorias {
        height: 7rem;
    }
}

/*-------------------------------*/
/*       Conoce easy    /fin\    */
/*-------------------------------*/

/*-------------------------------*/
/*   terminos y condiciones      */
/*-------------------------------*/

.container-terms-and-conditions {
    display: flex;
    color: var(--easyBlue);
}
.container-terms-and-conditions__nav {
    width: 30%;
}

.container-terms-and-conditions__letter {
    width: 43rem;
}

.container-terms-and-conditions__title {
    font-weight: 600;
    font-size: 2rem;
}

.container-terms-and-conditions__subtitle {
    font-weight: 900;
}

.container-terms-and-condition__paragraph {
    line-height: normal;
}

.card-list-terms__items ul li::before {
    content: "\2022";
    color: var(--easyRose);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-bottom: 8px;
}

@media (max-width: 768px) {
    .container-terms-and-conditions {
        flex-direction: column;
    }
    .container-terms-and-conditions__letter {
        width: inherit;
    }
    .container-terms-and-conditions__nav {
        width: inherit;
    }
    .container-terms-and-conditions__title {
        font-size: 1.2rem;
    }
}

/*-------------------------------*/
/* terminos y condiciones /fin\  */
/*-------------------------------*/

/*-------------------------------*/
/*     formulario Contact US     */
/*-------------------------------*/
.container-formulario__contact-us {
    padding: 1.5rem;
    color: var(--easyBlue);
    border-radius: 10px;
    max-width: 20rem;
    margin: 0 12rem;
    background: white;
}

.container-formulario__contact-us__titulo {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 800;
}

@media (max-width: 768px) {
    .container-formulario__contact-us {
        margin: auto;
    }
}
/*-------------------------------*/
/* formulario Contact US  /fin\  */
/*-------------------------------*/

/*-------------------------------*/
/*       Coberura Buttons           */
/*-------------------------------*/

.container-cobertura {
    height: 100vh;
    color: var(--easyBlue);
    font-weight: 800;
    font-size: 2rem;
}

.container-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-bottom {
    font-size: 1.5rem;
    position: relative;
    margin: 10px;
    width: 25rem;
    height: 7rem;
    text-align: center;
    border-radius: 10px;
    -webkit-transition: 200ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    background-color: white;
    cursor: pointer;
}

.box:hover {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.muted-buttons {
    font-size: 0.8rem;
}

@media (max-width: 768px) {
    .box-bottom {
        width: inherit;
    }
}

/*-------------------------------*/
/*      Coberura Buttons  /fin\    */
/*-------------------------------*/

/*-------------------------------*/
/*           producto Hogar      */
/*-------------------------------*/

.container-hogar {
    color: var(--easyBlue);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    font-size: 2.1rem;
    text-align: center;
}

.container-hogar__subtitle {
    text-align: center;
    font-weight: 800;
    width: 24rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.container-hogar__subtitle-2 {
    font-size: 1rem;
    font-weight: 600;
    line-height: normal;
}

/*-------------------------------*/
/*     producto Hogar  /FIN\     */
/*-------------------------------*/

/*-------------------------------*/
/*       Payment Accepted        */
/*-------------------------------*/
.container-payment__accepted {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: var(--easyBlue);
}
.container-payment__accepted--title {
    font-weight: 800;
    font-size: 2.5rem;
}

.container-payment__accepted--subtitle {
    font-size: 1.5rem;
    font-weight: 800;
}
.container-payment__accepted--legend {
    font-size: 1.6rem;
    text-align: center;
    line-height: normal;
}

.container-payment__accepted--legend > p:last-child {
    font-size: 0.9rem;
}
/*-------------------------------*/
/*    Payment Accepted  /FIN\    */
/*-------------------------------*/

/*-------------------------------*/
/*   comprobante de compra       */
/*-------------------------------*/

.container-datos__cliente {
    font-weight: 600;
    color: var(--easyBlue);
    border-radius: 5px;
}

.container-datos__cliente label {
    font-weight: 400;
    color: var(--easyGray);
    font-size: 0.9rem;
}

.input__style_comprobante {
    background-color: #eff1f4;
    border: none;
}

.container-comprobante-compra-footer {
    background-color: #eff1f4;
    color: #666666;
}
.footer-image {
    position: absolute;
    right: inherit;
}

/*-------------------------------*/
/* comprobante de compra  /FIN\  */
/*-------------------------------*/
