@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800;900&display=swap);

:root {
    --easyRose: #FF0180;
    --easyBlue: #033777;
    --easyGray: #595959;
    --background_color: #F5F5F7;
}

.fntw-800{
    font-weight: 800;
}
.fntw-900{
    font-weight: 900;
}


body,
html {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background_color);
}


/*------SIDEBAR--------*/

.noscroll {
    overflow: hidden;
}

.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: -1;
    /* transition-duration: .5s; */
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}


.menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--easyRose);
    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: var(--background_color);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
    overflow: auto;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: var(--easyRose);
    font-size: 18px;
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;
    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

.menu__item--submenu {
    list-style-type: none;
}

.submenu--item {
    color: var(--easyBlue);
    font-weight: 800;
}

.submenu--item>a {
    font-size: 15px;
}

.submenu--item::before {
    content: '_';
    color: var(--easyRose);
    cursor: pointer;
}

.menu__item:focus {
    /* clicking on label should toggle the menu */
    pointer-events: none;

}

.menu__item:focus .menu__item--submenu {
    /*  opacity is 1 in opened state (see below) */
    opacity: 1;
    visibility: visible;
    display: inherit;
    /* don't let pointer-events affect descendant elements */
    pointer-events: auto;
}

.menu__item--submenu {
    /* use opacity to fake immediate toggle */
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s;
}

.header-container {
    display: inline-flex;
}

.header-container__sidebar {
    z-index: 2;
    height: 71px;
}

.header-container__logo {
    width: 100%;
    text-align: center;
    position: relative;
}

.hr-text {
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    opacity: 0.5;
    margin-top: 0;
    margin-bottom: 0;
}

.hr-text:before {
    content: "";
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    /* top: 50%; */
    width: 100%;
    height: 1px;
}

.hr-text:after {
    /* content: attr(data-content); */
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 0.5em;
    /* line-height: 1.5em; */
    color: #818078;
    background-color: #fcfcfa;
}

.menu-container {
    display: inline-flex;
    overflow: hidden;
    justify-content: center;
    padding-top: 8px;
}

.menu-container .menu-container__submenu {
    padding-top: 4px;
    margin-bottom: 15px;
}

.menu-container__submenu a {
    background:var(--easyRose);
    box-shadow: 0 2px 7px rgb(104 107 113 / 25%);
    border-radius: 5px;
    padding: 4px 8px;
    margin-right: 20px;
    white-space: nowrap;
    text-decoration: none;
    color: white;
    font-size: medium;
    transition: font-size 2s;
}

/*//////////////////////////////////////////////////////////////////
[ Slick1 ]*/

.wrap-slick1 {
    position: relative;
}

.item-slick1 {
    height: calc(100vh - 104px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.rs1-slick1 .item-slick1 {
    height: calc(100vh - 84px);
}

.rs2-slick1 .item-slick1 {
    height: 100vh;
}

@media (max-width: 991px) {
    .item-slick1 {
        height: calc(100vh - 70px) !important;
    }
}

.arrow-slick1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    font-size: 80px;
    color: rgba(0, 0, 0, 0.3);
    position: absolute;
    opacity: 0;

    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

    z-index: 200;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.wrap-slick1:hover .arrow-slick1 {
    opacity: 1;
}

.arrow-slick1:hover {
    color: #7280e0;
}

.next-slick1 {
    right: 50px;
    left: auto;
}

.prev-slick1 {
    left: 50px;
    right: auto;
}

@media (max-width: 991px) {
    .next-slick1 {
        right: 15px;
    }

    .prev-slick1 {
        left: 15px;
    }
}

/*---------------------------------------------*/
.rs2-slick1 .arrow-slick1 {
    color: rgba(255, 255, 255, 0.3);
}

.rs2-slick1 .arrow-slick1:hover {
    color: #7280e0;
}

.wrap-slick1-dots {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 60px;
}

.slick1-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.slick1-dots li {
    max-width: 190px;
    position: relative;
    cursor: pointer;
    margin-right: 1px;
}

.slick1-dots li img {
    width: 100%;
}

.caption-dots-slick1 {
    font-family: Poppins-ExtraLight;
    font-size: 16px;
    line-height: 1.3;
    color: #fff;
    text-align: center;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0;
}

.slick1-dots li:hover .caption-dots-slick1 {
    opacity: 1;
}

.slick1-dots li.slick-active .caption-dots-slick1 {
    opacity: 1;
}

@media (max-width: 575px) {
    .caption-dots-slick1 {
        font-size: 13px;
    }

    .wrap-slick1-dots {
        bottom: 25px;
    }
}

.slider-btn__comprar{
    padding: 9px 8px !important;
}

.container-slider{
    position: relative;
    top: 12%;
    left: 6%;
}

@media screen and (min-width: 1900px) {
    .container-slider{

        top: 18%;
        left: 0;
    }
}

.submenu--item::before {
    content: '_';
    color: var(--easyRose);
    cursor: pointer;
}

.slider-text-16-rose {
    color: var(--easyRose);
    font-size: 32.333px;
    font-weight: 900;
}

.slider-text-24-blue {
    color: var(--easyBlue);
    font-size: 40px;
    font-weight: 900;
}
.slider-text-24-blue::before {
    content: '_';
    color: var(--easyRose)
}

/*//////////////////////////////////////////////////////////////////
[ BLOQUE CATEGORIAS ]*/

.container-home {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    /* background-color: BLACK; */
}

.drops-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 100px;
    margin-top: 30px;
    margin-bottom: 40px;

}

.drops-category {
    width: 34%;
    height: 230px;
    display: flex;
    justify-content: center;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: var(--easyRose);
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    border-radius: 25px;
    position: relative;
    margin-bottom: 30px;
    /* background-color: violet; */
    border-style: solid;
    border-color: var(--easyBlue);
    border-width: 0.1rem;
    margin-right: 6%;
    margin-left: 10%;
}

.drops-category>div {
    padding-top: calc(192px / 2);
}

@media screen and (min-width: 768px) {
    .container-home {
        max-width: 768px;
    }
}

@media screen and (min-width: 992px) {
    .container-home {
        max-width: 960px;
    }
}

@media screen and (min-width: 768px) {
    .container-home {
        max-width: 768px;
    }
}

@media screen and (max-width: 767px) {
    .container-home {
        padding-right: 0;
        padding-left: 0;
        justify-content: space-around;
    }

    .drops-category {
        width: 45%;
        margin-left: 0;
        margin-right: 0;
    }
}

/*//////////////////////////////////////////////////////////////////
[ BLOQUE PROCESO DE COMPRAS ]*/

.container-steps-to-buy{
    display: flex;
    height: 110px;
    border: 1px solid black;
    margin-bottom: 20px;
    justify-content: center;
    position: relative;
}

.container-steps-to-buy > span{
    position: relative;
    top: 50%;
}
